{% extends 'vital/base.html' %}

{% block content %}

    <h3>{{ message }}</h3>

<form action="{% url 'admin_mod:network_definition' %}" method='POST' style="width: 400px">
    {% csrf_token %}
    {% if error_message %}
    <p class="error">
            {{ error_message }}
    </p>
    {% endif %}
<table align="left|justify" style="width: auto">
    {% for field in course_form.visible_fields %}
            <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            {% if field.errors %}
		          <td colspan="2" align="right">
		          {% for error in field.errors %}
		            <div style="font-size: 10px; color: red" align="right">{{ error }}</div>
		          {% endfor %}
                  </td>
		        {% endif %}
            </tr>
        {% endfor %}
    {% for field in network_form.visible_fields %}
            <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            {% if field.errors %}
		          <td colspan="2" align="right">
		          {% for error in field.errors %}
		            <div style="font-size: 10px; color: red" align="right">{{ error }}</div>
		          {% endfor %}
                  </td>
		        {% endif %}
            </tr>
        {% endfor %}
</table>
<input type="submit" value=" Submit" />
</form>
{% endblock content %}